<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
 <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
 <!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Build Manually
      </h1>

    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
      <div>
        <form class="form-horizontal" th:object="${buildmanualdtls}" th:action="@{/buildmanually/buildbarfiles}" method="post">
            <input type="hidden" th:field="*{buildManually.id}"/>            
            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{buildManually.name}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Version:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{buildManually.version}"/>
                </div>
            </div>
            
            <div class="form-group">
            <label class="col-sm-2 control-label">Message Application Name: </label>
            <select th:field="*{applicationWithRepo}" size="5">
                <option th:each="messageapplicationwithrepo : ${messageapplicationwithrepos}" th:text="${messageapplicationwithrepo.name}" th:value="${messageapplicationwithrepo.id}" >[option]</option>
            </select>
        	</div>   
        	
        	<div class="form-group">
            <label class="col-sm-2 control-label">Message Library Name: </label>
            <select th:field="*{libraryWithRepo}" size="5">
                <option th:each="messagelibrarywithrepo : ${messagelibrarywithrepos}" th:text="${messagelibrarywithrepo.name}" th:value="${messagelibrarywithrepo.id}" >[option]</option>
            </select>
        	</div>      
           
            <div class="row">
                <button type="submit" class="btn btn-default">Next</button>
            </div>
        </form>
    </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
 
</div>
</body>

</html>