<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
 <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
 <!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Message Library With Repository List
      </h1>

    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
	<div th:if="${not #lists.isEmpty(messagelibrarywithrepos)}">
        
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Repository Name</th>
                <th>Repository Location</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="messagelibrarywithrepo : ${messagelibrarywithrepos}">
                <td th:text="${messagelibrarywithrepo.id}"><a href="/messagelibrarywithrepo/${messagelibrarywithrepo.id}">Id</a></td>
                <td th:text="${messagelibrarywithrepo.name}"> Name</td>
                <td th:text="${messagelibrarywithrepo.reponame}">Repository Name</td>
                <td th:text="${messagelibrarywithrepo.repolocation}">Repository Location</td>
                <td><a th:href="${'/messagelibrarywithrepo/' + messagelibrarywithrepo.id}">View</a></td>
                <td><a th:href="${'/messagelibrarywithrepo/edit/' + messagelibrarywithrepo.id}">Edit</a></td>
                <td><a th:href="${'/messagelibrarywithrepo/delete/' + messagelibrarywithrepo.id}">Delete</a></td>
            </tr>
        </table>

    </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
 
</div>
</body>
</html>