<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
 <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
 <!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        ProjectInfo List
      </h1>

    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
		<div th:if="${not #lists.isEmpty(projectinfos)}">
        <h2>ProjectInfo List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Short Description</th>                
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="projectinfo : ${projectinfos}">
                <td th:text="${projectinfo.id}"><a href="/projectinfo/${projectinfo.id}">Id</a></td>
                <td th:text="${projectinfo.name}">Name</td>
                <td th:text="${projectinfo.shortdescription}">shortdescirption</td>                
                <td><a th:href="${'/projectinfo/' + projectinfo.id}">View</a></td>
                <td><a th:href="${'/projectinfo/edit/' + projectinfo.id}">Edit</a></td>
                <td><a th:href="${'/projectinfo/delete/' + projectinfo.id}">Delete</a></td>
            </tr>
        </table>

    	</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
 
</div>
</body>

</html>