<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" /> -->

      <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

      <link href="../static/css/guru.css"
          th:href="@{/css/guru.css}" rel="stylesheet" media="screen"/>
          
	  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" href="../static/bootstrap/css/bootstrap.min.css" media="screen"/>
	  <link rel="stylesheet" th:href="@{/css/fontawesome/css/font-awesome.min.css}" href="../static/css/fontawesome/css/font-awesome.min.css" media="screen" />
	  <link rel="stylesheet" th:href="@{/css/ionicons.min.css}" href="../static/css/ionicons.min.css" media="screen" />
	  <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}" href="../static/dist/css/AdminLTE.min.css" media="screen"/>
	  <link rel="stylesheet" th:href="@{/dist/css/skins/skin-blue.min.css}" href="../static/dist/css/skins/skin-blue.min.css" media="screen"/>

	  <!-- Bootstrap 3.3.6 -->
	  <script src="../static/bootstrap/js/bootstrap.min.js" th:src="@{/dist/js/app.min.js}"></script>
	  <!-- AdminLTE App -->
	  <script src="../static/dist/js/app.min.js" th:src="@{/dist/js/app.min.js}"></script>
</head>
<body>

</body>
</html>