<div th:fragment="sidebar">
 <aside class="main-sidebar">
	<section class="sidebar">
    		<ul class="sidebar-menu">
               <li><a href="#" th:href="@{/envDetails}">Environment Details</a></li>
               <li><a href="#" th:href="@{/envDetail/new}">Create Environment</a></li>
               <li><a href="#" th:href="@{/queuemanagerdetails}">Queue Manager Details</a></li>
               <li><a href="#" th:href="@{/queuemanagerdetail/new}">Create Queue Manager</a></li>
               <li><a href="#" th:href="@{/brokers}">Broker Details</a></li>
               <li><a href="#" th:href="@{/broker/new}">Create Broker</a></li>
               <li><a href="#" th:href="@{/egdetails}">Execution Group Details</a></li>
               <li><a href="#" th:href="@{/egdetail/new}">Create Execution Group</a></li>
               <li><a href="#" th:href="@{/messageapplicationwithrepos}">Application Details</a></li>
               <li><a href="#" th:href="@{/messageapplicationwithrepo/new}">Create Application</a></li>
               <li><a href="#" th:href="@{/messageflowapplicationwises}">Message Flow Details</a></li>
               <li><a href="#" th:href="@{/messageflowapplicationwise/new}">Create Message Flow</a></li>
               <li><a href="#" th:href="@{/applicationdeployedegwises}">Application Deployment Dtls</a></li>
               <li><a href="#" th:href="@{/applicationdeployedegwise/new}">Create Application Deployment</a></li>
               <li><a href="#" th:href="@{/messagelibrarywithrepos}">Library Details</a></li>
               <li><a href="#" th:href="@{/messagelibrarywithrepo/new}">Create Library</a></li>
               <li><a href="#" th:href="@{/messagesetlibrarywises}">Message Set Details</a></li>
               <li><a href="#" th:href="@{/messagesetlibrarywise/new}">Create Message Set</a></li>
               <li><a href="#" th:href="@{/librarydeployedegwises}">Library Deployment Dtls</a></li>
               <li><a href="#" th:href="@{/librarydeployedegwise/new}">Create Library Deployment</a></li>
               <li><a href="#" th:href="@{/projectinfos}">Project Info</a></li>
               <li><a href="#" th:href="@{/projectinfo/new}">Create Project Info</a></li>
               <li><a href="#" th:href="@{/projectdeployables}">Project Deployables</a></li>
               <li><a href="#" th:href="@{/projectdeployable/new}">Create Project Depbls</a></li>
               <li><a href="#" th:href="@{/projectdeployments}">Project Deployments</a></li>
               <li><a href="#" th:href="@{/projectdeployment/new}">Create Project Deplmts</a></li>
               <li><a href="#" th:href="@{/releaseinfos}">Release Info</a></li>
               <li><a href="#" th:href="@{/releaseinfo/new}">Create Release Info</a></li>
               <li><a href="#" th:href="@{/releasewiseprojects}">Release Wise Proj Info</a></li>
               <li><a href="#" th:href="@{/releasewiseproject/new}">Create Release-Project Depl</a></li>
            </ul>
		</section>
</aside>s
</div>